@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


html,
body {
    width: 100%;
    height: 100vh;
}


/* font-family: "Quicksand", sans-serif; */
/*  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}*/


.page1 {
    position: relative;
    width: 100%;
    height: 100vh;
    background: white;
   /* background-color: #0044aa;*/
   /* color: #ffffff;*/
   color: black;
}

.page1 .content {
    width: 100%;
    height: 100vh;
}

nav {
    position: relative;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    z-index: 1;
}

a {
    text-decoration: none;
   /* color: #ffffff;*/
    color: black;
    text-transform: uppercase;
    font-size: 1.1rem;
}

nav .logo {
    font-family: "Libre Baskerville", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.4rem;
    letter-spacing: 1.8px;

}

.navigation {
    display: flex;
    gap: 6rem;
    padding-right: 3rem;
}

#menuIcon i {
    font-size: 1.8rem;
}

.container {
    position: relative;
    width: 100%;
    height: calc(100vh - 5rem);
}

.box {
    position: absolute;
    width: 9.5rem;
    height: 13rem;
    background: blue;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
}

#bgVideo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 20%;
    mix-blend-mode: lighten;
    clip-path: inset(35% 45% 35% 45%);
    transition: 0.5s;
    z-index: 0;
}

.container .bottom {
    position: absolute;
    width: 100%;
    height: 85%;
    bottom: 0;
    padding: 3rem;
}

.container .bottom .one {
    display: flex;
    justify-content: space-between;
}

.bottom .one .left {
    width: 40%;
}

.one .left h1 {
   font-family: "Quicksand", sans-serif; 
   font-size: 7rem;
   font-weight: 300;
   line-height: 8rem;
   position: relative;
   left: 75%;
   bottom: 55%;
}

.one .left p {
    font-size: 1.1rem;
    line-height: 1.4rem;
    position: relative;
    left: 75%;
    bottom: 55%;
}

#LastText {
    position: relative;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

#lastText h3 {
    font-family: "Quicksand", sans-serif;
    font-size: 2.5rem;
    font-weight: 200;
    letter-spacing: 0.4rem;
}

#lastText i {
    font-size: 2rem;
}

.bottom .one .right {
    position: relative;
    width: 15rem;
    height: 15rem;
    left: 20%;
    border: 3px solid white;
    border-radius: 30px;
    overflow: hidden;
    opacity: 0;
}

.right img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.container .bottom .two {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.two .left {
    position: relative;
    width: 23%;
}

.bottom .two .left h3 {
    font-size: 1.3rem;
    padding: 0.5rem 0;
    border-bottom: 2px solid white;
}

.bottom .two .left p {
    margin-top: 0.4rem;
    font-size: 0.9rem;
}

.two a h3 {
    font-weight: 400;
    font-family: "Libre Baskerville", serif;
    padding-right: 7rem;
    letter-spacing: 0.5rem;
}

.bottom .two .right {
    position: relative;
    width: 14rem;
    height: 13rem;
    left: 20%;
    opacity: 0;
    border-radius: 30px;
    overflow: hidden;
    z-index: 1;
}

.right video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}